In [1]:
#Read the .csv file

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df_matches = pd.read_csv('matches.csv')

In [2]:
df_matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [3]:
df_matches.shape

(636, 18)

In [4]:
df_matches.describe()
#umpire3 has values but it is counting as 0 because it ignores all NaN values

,id,season,dl_applied,win_by_runs,win_by_wickets,umpire3
count,636.000000,636.000000,636.000000,636.000000,636.000000,0.0
mean,318.500000,2012.490566,0.025157,13.682390,3.372642,NaN
std,183.741666,2.773026,0.156726,23.908877,3.420338,NaN
min,1.000000,2008.000000,0.000000,0.000000,0.000000,NaN
25%,159.750000,2010.000000,0.000000,0.000000,0.000000,NaN
50%,318.500000,2012.000000,0.000000,0.000000,4.000000,NaN
75%,477.250000,2015.000000,0.000000,20.000000,7.000000,NaN
max,636.000000,2017.000000,1.000000,146.000000,10.000000,NaN

In [5]:
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
id                 636 non-null int64
season             636 non-null int64
city               629 non-null object
date               636 non-null object
team1              636 non-null object
team2              636 non-null object
toss_winner        636 non-null object
toss_decision      636 non-null object
result             636 non-null object
dl_applied         636 non-null int64
winner             633 non-null object
win_by_runs        636 non-null int64
win_by_wickets     636 non-null int64
player_of_match    633 non-null object
venue              636 non-null object
umpire1            635 non-null object
umpire2            635 non-null object
umpire3            0 non-null float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.5+ KB

In [6]:
df_matches.isna().sum() #umpire3 column has no value within it! It can be deleted.

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               3
win_by_runs          0
win_by_wickets       0
player_of_match      3
venue                0
umpire1              1
umpire2              1
umpire3            636
dtype: int64

In [7]:
# To create a dataset using dictionary

df = pd.DataFrame({'A':[4,4,5,6,7],'B':[7,3,3,7,7]})
df.nunique()     # shows number of unique elements in all the dictionaries
df['A'].unique() # shows the unique elements

array([4, 5, 6, 7], dtype=int64)

In [8]:
# Applying similar technique on umpire3 column

df_matches['umpire3'].unique()

array([nan])

In [9]:
# Dropping the umpire3 column

df_matches2 = df_matches.drop(['umpire3'], axis=1)

In [10]:
df_matches2.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN

In [11]:
df_matches2.to_csv('matches2.csv', index = False)

In [12]:
print("Total number of matches", df_matches2.shape)
print("Total number of matches:", df_matches2.shape[0])
print("Total number of seasons:", df_matches2['season'].unique())
print("Total number of seasons:", df_matches2['season'].nunique())

Total number of matches (636, 17)
Total number of matches: 636
Total number of seasons: [2017 2008 2009 2010 2011 2012 2013 2014 2015 2016]
Total number of seasons: 10

In [13]:
print("Maximum Player of the Match awards (Number):", df_matches2['player_of_match'].value_counts()[:10]) # Top 10 players
print()
print("Maximum Player of the Match awards (Name):", df_matches2['player_of_match'].value_counts().idxmax())
print()
print("Teams with highest number of match wins (Number):",df_matches2['winner'].value_counts()[0])
print()
print("Teams with highest number of match wins(Name):", df_matches2['winner'].value_counts().idxmax())

Maximum Player of the Match awards (Number): CH Gayle          18
YK Pathan         16
DA Warner         15
AB de Villiers    15
SK Raina          14
RG Sharma         14
G Gambhir         13
MS Dhoni          13
MEK Hussey        12
AM Rahane         12
Name: player_of_match, dtype: int64

Maximum Player of the Match awards (Name): CH Gayle

Teams with highest number of match wins (Number): 92

Teams with highest number of match wins(Name): Mumbai Indians

In [14]:
# Huge Margin = 100 runs or more, 8 wickets or more

big_margin = df_matches2[(df_matches2['win_by_runs']>=100) | (df_matches2['win_by_wickets']>=8)]
big_margin.head()
print("Teams that have won matches by a huge margin:")
print(big_margin['winner'].value_counts())

Teams that have won matches by a huge margin:
Royal Challengers Bangalore    17
Kolkata Knight Riders          16
Delhi Daredevils               13
Rajasthan Royals               12
Mumbai Indians                 12
Chennai Super Kings             9
Kings XI Punjab                 7
Sunrisers Hyderabad             5
Kochi Tuskers Kerala            2
Deccan Chargers                 2
Rising Pune Supergiants         1
Rising Pune Supergiant          1
Name: winner, dtype: int64

In [15]:
# Find count of matches played at each city
print("Number of matches played at each city:")
print()
print(df_matches2['city'].value_counts())

Number of matches played at each city:

Mumbai            85
Bangalore         66
Kolkata           61
Delhi             60
Hyderabad         49
Chennai           48
Chandigarh        46
Jaipur            33
Pune              32
Durban            15
Ahmedabad         12
Centurion         12
Visakhapatnam     11
Rajkot            10
Dharamsala         9
Johannesburg       8
Cuttack            7
Port Elizabeth     7
Cape Town          7
Ranchi             7
Abu Dhabi          7
Sharjah            6
Raipur             6
Indore             5
Kochi              5
Kanpur             4
East London        3
Kimberley          3
Nagpur             3
Bloemfontein       2
Name: city, dtype: int64

In [16]:
# Find max win_by_wickets at each city

df_matches2.groupby('city').win_by_wickets.max()

# Find min win_by_wickets at each city

#min_wickets = df_matches[df_matches2['win_by_wickets'] != 0]
#win_min_wickets = df_matches[df_matches2['win_by_wickets'] == min_wickets['win_by_wickets'].min()]
#print(win_min_wickets['city'].value_counts())

city
Abu Dhabi          6
Ahmedabad          9
Bangalore         10
Bloemfontein       6
Cape Town         10
Centurion          8
Chandigarh        10
Chennai            9
Cuttack            9
Delhi             10
Dharamsala         6
Durban             9
East London        7
Hyderabad          9
Indore             8
Jaipur            10
Johannesburg       9
Kanpur             8
Kimberley          7
Kochi              7
Kolkata            9
Mumbai            10
Nagpur             6
Port Elizabeth     7
Pune               9
Raipur             7
Rajkot            10
Ranchi             6
Sharjah            8
Visakhapatnam      7
Name: win_by_wickets, dtype: int64

In [17]:
# Find the match with biggest defeat by runs

In [18]:
# Find the match with biggest defeat by wickets